fastapi
uvicorn[standard]
jinja2
sqlalchemy
pymysql
passlib[bcrypt]
python-multipart
itsdangerous>=2.0
email-validator
aiofiles
python-dotenv
python-jose[cryptography]
starlette
transformers 
torch 
torchvision
sentencepiece
deep-translator
pandas
google-genai
google-generativeai