<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/assets/imgs/chip.png">
    <title>PlantScan</title>
</head>
<body>    
    <div class="contreg">
        <div class="board">
            <button class="back-btn" onclick="window.location.href='{{ url_for('home') }}'">
                <i class="fas fa-arrow-left"></i>
            </button>
            <div class="form-container">
                <h2 class="form-title">Informações</h2>
                {% if mensagem %}
  <p style="color: red;">{{ mensagem | safe }}</p>
{% endif %}
                <form method="post" name="update">
                <div class="input-group">
                    <input type="text" id="full_name" name="full_name" placeholder=" " >
                    <label for="name">{{ user_name }}</label>
                </div>
                <div class="input-group">
                    <input type="email" id="email" placeholder=" " name="email" >
                    <label for="email">{{ user_email}}</label>
                </div>
                
                <button type="submit" class="submit-btn">Atualizar</button>
                </form>
            </div>
            <br>

        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.toggle-password').forEach(icon => {
                icon.addEventListener('click', function() {
                    const input = this.parentElement.querySelector('input');
                    if (input.type === 'password') {
                        input.type = 'text';
                        this.classList.remove('fa-eye');
                        this.classList.add('fa-eye-slash');
                    } else {
                        input.type = 'password';
                        this.classList.remove('fa-eye-slash');
                        this.classList.add('fa-eye');
                    }
                });
            });
        });
    </script>
</body>
</html>